<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759520617947-r7ljl59lntkpcgcdbf9pt3p12s9c2gjh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759520617947-r7ljl59lntkpcgcdbf9pt3p12s9c2gjh</string>
	<key>API_KEY</key>
	<string>AIzaSyB5QjWxRibc_0yiqM7G81Vs6Wxuul8mpfE</string>
	<key>GCM_SENDER_ID</key>
	<string>759520617947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bubbleeasy</string>
	<key>PROJECT_ID</key>
	<string>bubbleeasy-8b8cd</string>
	<key>STORAGE_BUCKET</key>
	<string>bubbleeasy-8b8cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759520617947:ios:d606bd5fd99f26649d73fe</string>
	<key>DATABASE_URL</key>
	<string>https://bubbleeasy-8b8cd.firebaseio.com</string>
</dict>
</plist>